@define-color red #FF0000;
@define-color dark_red #6C0303;
@define-color orange #FF8500;
@define-color dark_orange #DF7500;
@define-color yellow #FFFF00;
@define-color dark_yellow #D0D000;
@define-color green #22FF00;
@define-color dark_green #1ABB00;
@define-color teal #00FFFB;
@define-color light_blue #4E4EF4;
@define-color dark_blue #0000BB;
@define-color background_gray #D3D3D3;
@define-color selected_gray #999999;
@define-color disabled_gray #B0B0B0;
@define-color text_disabled_gray #373737;
@define-color dark_gray #696969;
@define-color black #000000;
@define-color white #FFFFFF;
@define-color selected_border #0000FF;

window {
    background-color: @background_gray;
}
grid.white {
    background-color: @white;
    border-radius: 5px;
}
grid.black {
    background-color: @black;
    border-radius: 5px;
}
grid.keypad {
    background-color: @selected_gray;
    border-radius: 5px;
}


button {
    border-style: none;
    outline-style: none;
    box-shadow: none;
    background-color: @red;
    color: @black;
    background-image: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
    padding: 0px;
}
button:active {
    background-color: @dark_red;
}
button:checked {
    border-style: solid;
    border-color: @selected_border;
    border-width: 6px;
}
button:hover {
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}
button:disabled,
button.little-blue:disabled,
button.little-red:disabled,
button.little-green:disabled,
button.red:disabled,
button.white:disabled,
button.black:disabled,
button.yellow:disabled {
    background-color: @disabled_gray;
    color: @text_disabled_gray;
    border-color: @disabled_gray;
}
button:disabled label {
    color: @text_disabled_gray;
}

button.white-score {
    background-color: @white;
    color: @black;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 60px;
    font-weight: bold;
}
button.white-score:active {
    background-color: @selected_gray;
}
button.black-score {
    background-color: @black;
    color: @white;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 60px;
    font-weight: bold;
}
button.black-score:active {
    background-color: @selected_gray;
}
button.game-time-green {
    background-color: @dark_gray;
    color: @green;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 60px;
    font-weight: bold;
}
button.game-time-green:active {
    background-color: @selected_gray;
}
button.game-time-yellow {
    background-color: @dark_gray;
    color: @yellow;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 60px;
    font-weight: bold;
}
button.game-time-yellow:active {
    background-color: @selected_gray;
}
button.game-time-red {
    background-color: @dark_gray;
    color: @red;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 60px;
    font-weight: bold;
}
button.game-time-red:active {
    background-color: @selected_gray;
}
button.game-time-gray {
    background-color: @dark_gray;
    color: @black;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 60px;
    font-weight: bold;
}
button.game-time-gray:active {
    background-color: @selected_gray;
}
button.keypad {
    background-color: @teal;
    color: @black;
    font-size: 50px;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    border-color: @selected;
}
button.keypad:active {
    background-color: @light_blue;
    color: @black;
}
button.white {
    background-color: @white;
    color: @black;
    font-size: 25px;
    font-weight: bold;
}
button.white:active {
    background-color: @selected_gray;
}
button.black {
    background-color: @black;
    color: @white;
    font-size: 25px;
    font-weight: bold;
}
button.black:active {
    background-color: @selected_gray;
}
button.red {
    background-color: @red;
    color: @black;
    font-size: 25px;
    font-weight: bold;
}
button.red:active {
    background-color: @dark_red;
}
button.little-red {
    background-color: @red;
    color: @black;
    font-size: 20px;
    font-weight: bold;
}
button.little-red:active {
    background-color: @dark_red;
    border-style: solid;
    border-radius: 5px;
    border-color: @dark_gray;
}
button.orange {
    background-color: @orange;
    color: @black;
    font-size: 25px;
    font-weight: bold;
}
button.orange:active {
    background-color: @dark_orange;
}
button.yellow {
    background-color: @yellow;
    color: @black;
    font-size: 25px;
    font-weight: bold;
}
button.yellow:active {
    background-color: @dark_yellow;
}
button.green {
    background-color: @green;
    color: @black;
    font-size: 25px;
    font-weight: bold;
}
button.green:active {
    background-color: @dark_green;
}
button.little-green {
    background-color: @green;
    color: @black;
    font-size: 20px;
    font-weight: bold;
}
button.little-green:active {
    background-color: @dark_green;
    border-style: solid;
    border-radius: 5px;
    border-color: @dark_gray;
}
button.blue {
    background-color: @light_blue;
    color: @black;
    font-size: 25px;
    font-weight: bold;
}
button.blue:active {
    background-color: @dark_blue;
}
button.little-blue {
    background-color: @light_blue;
    color: @black;
    font-size: 20px;
    font-weight: bold;
}
button.little-blue:active {
    background-color: @dark_blue;
}
button.blue-modifier {
    background-color: @light_blue;
    color: @black;
    font-size: 40px;
    font-weight: bold;
}
button.blue-modifier:active {
    background-color: @dark_blue;
}
button.gray {
    background-color: @selected_gray;
    color: @black;
    font-size: 25px;
    font-weight: bold;
}
button.gray:active {
    background-color: @dark_gray;
}



label.header-white {
    background-color: @white;
    color: @black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.header-black {
    background-color: @black;
    color: @white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.header-gray {
    background-color: @background_gray;
    color: @black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.header-dark-gray-green {
    background-color: @dark_gray;
    color: @green;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.header-yellow {
    background-color: @yellow;
    color: @black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.header-red {
    background-color: @red;
    color: @black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.edit-parameter-header {
    background-color: @dark_gray;
    color: @black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
label.edit-parameter-header:disabled {
    background-color: @disabled_gray;
    color: @text_disabled_gray;
}
label.edit-parameter-time {
    background-color: @background_gray;
    color: @black;
    font-size: 25px;
    font-weight: bold;
}
label.edit-parameter-time:disabled {
    color: @disabled_gray;
}
label.player-number-gray {
    background-color: @selected_gray;
    color: @black;
    font-size: 60px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
label.modified-time-gray {
    background-color: @background_gray;
    color: @black;
    font-size: 60px;
    font-weight: bold;
}
label.modified-score-white {
    background-color: @white;
    color: @black;
    font-size: 60px;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
label.modified-score-black {
    background-color: @black;
    color: @white;
    font-size: 60px;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
label.floating-dark-gray-green {
    background-color: @dark_gray;
    color: @green;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.footer-white {
    background-color: @white;
    color: @black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.footer-black {
    background-color: @black;
    color: @white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.footer-dark-gray-yellow {
    background-color: @dark_gray;
    color: @yellow;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}
label.footer-dark-gray-red {
    background-color: @dark_gray;
    color: @red;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 25px;
    font-weight: bold;
}

